$black: #121212;
$white: #ffffff;
$gray: #ebe7f4;
$purple: #623c62;
$lilac: #bdb5d5;
$moss: #005051;

$fontBody: 'Roboto', sans-serif;
$fontHeading: 'El Messiri', sans-serif;

// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=El+Messiri&family=Roboto&display=swap" rel="stylesheet">
